.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 100;
}

.sticky-header {
  box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure overlay is above the background but below the content */
  backdrop-filter: blur(20px);
}

.nav__logo {
  font-weight: bolder;
  font-size: 1.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--pink);
}

.nav {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 1.3rem;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav__item:hover {
  color: var(--pink);
  transition: all 0.3s linear;
}
