.techs {
  align-items: center;
  display: flex;
}

.techs p {
  border-right: 2px solid var(--border-color);
  color: var(--title-color);
  font-family: Mulish, sans-serif;
  font-weight: 600;
  margin-right: 7rem;
  padding-right: 2rem;
  font-size: 1.25rem;
  white-space: nowrap;
}

.logos {
  width: 100%;
  height: var(--height);
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
  overflow: hidden;
}

.logos ul {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity) - 4);
  position: relative;
}

.logos ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 17s linear infinite;
  animation-delay: calc(((17s / var(--quantity)) * (var(--position) - 1)));
}

.logos ul li img {
  width: 100%;
}

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}

.logos:hover li {
  animation-play-state: paused !important;
  filter: grayscale(1);
}

.logos li:hover {
  filter: grayscale(0);
}

@media screen and (max-width: 768px) {
  .techs p {
    margin: 0;
    border: none;
    padding: 0;
  }
}
