/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

[data-theme="dark"] {
  --text-color: white;
  --body1-color: #0d1224;
  --body2-color: #0d1224;
  --container-color: black;
  --header-text-color: black;
  --pink: hsl(330, 81%, 60%);
  --popup-background-color: #212529;
  --popup-border-color: rgba(255, 255, 255, 0.15);
  --green: #16f2b3;
  --blue: #0d6efd;
  --border-color: #f9f9f9;
  --shadow-header-color: rgb(255, 255, 255, 0.1);
  --title-section-color: #ec4899;
  --box-background-color: #101123;
  --box-border-color: rgba(27, 44, 104, 0.6274509804);
}

[data-theme="light"] {
  --text-color: black;
  --body1-color: white;
  --body2-color: #f9f9f9f9;
  --container-color: #fff;
  --header-text-color: white;
  --pink: #ec4899;
  --popup-background-color: white;
  --popup-border-color: rgba(0, 0, 0, 0.175);
  --green: #0d6efd;
  --blue: #0d6efd;
  --border-color: black;
  --shadow-header-color: rgba(0, 0, 0, 0.1);
  --title-section-color: #0d6efd;
  --box-background-color: white;
  --box-border-color: rgba(0, 0, 0, 0.175);
}

#root {
  --header-height: 4rem;

  /* ========== Colors ==========*/
  --hue: 0;
  --sat: 0%;
  /* --title-color: hsl(var(--hue), var(--sat), 20%);
  --title-color-dark: hsl(var(--hue), var(--sat), 0%); */
  /* --text-color: hsl(var(--hue), var(--sat), 46%); */
  --body-color: hsl(var(--hue), var(--sat), 98%);
  --container-color: #fff;

  /* ========== Font and typography =========*/
  --body-font: "Poppins", sans-serif;

  /* .5rem = 8px 1rem = 16px */
  --big-font-size: 3.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 0.625rem;

  /* ========== Font weight ============ */
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*============ Margenes Bottom ===========*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* =========== z index ============ */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

svg {
  font-size: 1.4rem;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  :root {
    --big-font-size: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.72rem;
  }
}

/* ====================== BASE ===================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 7rem 0 4.5rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-section-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 4rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

/* =========== LAYOUT ============ */
.container {
  max-width: 967px !important;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* =============== BUTTONS ============= */
.button {
  display: inline-block;
  color: var(--text-color);
  border-radius: 30px;
  font-weight: var(--font-medium);
  padding: 0.8rem 1.8rem;
  border: 1px solid var(--popup-border-color);
}

.button.primary {
  background: linear-gradient(to right, #ec4899, #8b5cf6);
  color: white;
}

.button:hover {
  background-color: var(--title-color-dark);
}

.button__icon {
  margin-left: var(--mb-0-5);
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

/* ============== BREAKPOINTS ============= */
/* for large devices */
@media screen and (max-width: 992px) {
  .button {
    padding: 1rem 1.75rem;
  }

  .button__icon {
    width: 22px;
    height: 22px;
  }
}

/* for medium devices */
@media screen and (max-width: 768px) {
  body {
    margin: 0 0 var(--header-height) 0;
  }

  .section {
    padding: 2rem 0 4rem;
  }

  .section__subtitle {
    margin-bottom: var(--mb-3);
  }
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 350px) {
  :root {
    --big-font-size: 2.25rem;
  }
}
